
.vscode/
.idea/

__pycache__/
*.pyc


venv/
docker_image/
docker_image.tar

config.ini
secrets.yaml
credentials.json

*.log
*.tmp

/app/venv/
/app/__pycache__/
/app/docker_image/
/app/docker_image.tar

/app/models/saved_model.h5
/app/data/large_dataset.csv


best_model2.h5
scaler2.pkl
Pulsar_cleaned.csv

__pycache__/
models/__init__.py
