# Ignorar todos los archivos y directorios, excepto los listados aquí
# Puedes agregar más archivos/directorios aquí si es necesario

# Ignorar archivos y directorios generados por IDEs o editores de texto
.vscode/
.idea/

# Ignorar archivos generados durante la ejecución del programa
__pycache__/
*.pyc

# Ignorar archivos específicos
venv/
docker_image/
docker_image.tar

# Ignorar archivos que contienen credenciales o información sensible
config.ini
secrets.yaml
credentials.json

# Ignorar archivos de registro y datos temporales
*.log
*.tmp

# Ignorar archivos y directorios específicos de la aplicación Flask
/app/venv/
/app/__pycache__/
/app/docker_image/
/app/docker_image.tar

# Ignorar archivos específicos del modelo o datos
/app/models/saved_model.h5
/app/data/large_dataset.csv

